<div class="row ml-3 mr-3" style="z-index: 2; position: relative">
  <div class="col-md-12">
    <h1 class="ml-2" style="color: #FFFF; text-align: center">Avaliations</h1>
    <hr>
    <div class="d-flex justify-content-between flex-wrap">
      <div class="card bg-light mb-3 ml-2 mr-2" style="width: 18rem;">
        <div class="card-header bg-primary text-white">Very Bad</div>
        <div class="card-body">
          <h5 class="card-title">{{aval1}}</h5>
        </div>
      </div>

      <div class="card bg-light mb-3 ml-2 mr-2" style="width: 18rem;">
        <div class="card-header bg-primary text-white">Bad</div>
        <div class="card-body">
          <h5 class="card-title">{{aval2}}</h5>
        </div>
      </div>

      <div class="card bg-light mb-3 ml-2 mr-2" style="width: 18rem;">
        <div class="card-header bg-primary text-white">Neutral</div>
        <div class="card-body">
          <h5 class="card-title">{{aval3}}</h5>
        </div>
      </div>

      <div class="card bg-light mb-3 ml-2 mr-2" style="width: 18rem;">
        <div class="card-header bg-primary text-white">Good</div>
        <div class="card-body">
          <h5 class="card-title">{{aval4}}</h5>
        </div>
      </div>

      <div class="card bg-light mb-3 ml-2 mr-2" style="width: 18rem;">
        <div class="card-header bg-primary text-white">Very Good</div>
        <div class="card-body">
          <h5 class="card-title">{{aval5}}</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <h1 class="ml-2" style="color: #FFFF; text-align: center">Percentages</h1>
    <hr>
    <div class="d-flex justify-content-between flex-wrap">
      <div class="card bg-light mb-3 ml-2 mr-2" style="width: 18rem;">
        <div class="card-header bg-primary text-white">Very Bad</div>
        <div class="card-body">
          <h5 class="card-title">{{percentage1}}%</h5>
        </div>
      </div>

      <div class="card bg-light mb-3 ml-2 mr-2" style="width: 18rem;">
        <div class="card-header bg-primary text-white">Bad</div>
        <div class="card-body">
          <h5 class="card-title">{{percentage2}}%</h5>
        </div>
      </div>

      <div class="card bg-light mb-3 ml-2 mr-2" style="width: 18rem;">
        <div class="card-header bg-primary text-white">Neutral</div>
        <div class="card-body">
          <h5 class="card-title">{{percentage3}}%</h5>
        </div>
      </div>

      <div class="card bg-light mb-3 ml-2 mr-2" style="width: 18rem;">
        <div class="card-header bg-primary text-white">Good</div>
        <div class="card-body">
          <h5 class="card-title">{{percentage4}}%</h5>
        </div>
      </div>

      <div class="card bg-light mb-3 ml-2 mr-2" style="width: 18rem;">
        <div class="card-header bg-primary text-white">Very Good</div>
        <div class="card-body">
          <h5 class="card-title">{{percentage5}}%</h5>
        </div>
      </div>
    </div>
  </div>
</div>
