<div class="row ml-3 mr-3" style="z-index: 2; position: relative">
    {{#each feedbacks}}
        <div class="col-md-4 mb-4">
            <div class="card bg-light">
                <div class="card-body">
                    <p class="card-text"><strong>Avaliation:</strong> {{avaliation}}</p>
                    <p class="card-text"><strong>From:</strong> {{name}}</p>
                    <p class="card-text"><strong>Contact:</strong> {{email}}</p>
                    <hr> <!-- Adicionei uma linha horizontal para separar o texto -->
                    <p class="card-text"><strong>Feedback:</strong></p>
                    <p class="card-text">{{text}}</p>
                    <hr> <!-- Adicionei outra linha horizontal para separar o texto -->
                    <p class="card-text"><strong>Date:</strong> {{date}}</p>
                </div>
            </div>
        </div>
    {{else}}
        <div class="col-md-12">
            <div class="card bg-light">
                <div class="card-body">
                    <p>No feedbacks available.</p>
                </div>
            </div>
        </div>
    {{/each}}
</div>
