<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
          <h3 class="card-title text-center">Current company information</h3>
          <img src="{{client.logo}}" class="img-fluid mb-3 mx-auto d-block" alt="Company Logo" title="Logo" style="max-width: 120px;">
          <h5 class="card-text">Name: {{client.name}}</h5>
          <h5 class="card-text">Number: {{client.number}}</h5>
          <h5 class="card-text">E-mail: {{client.email}}</h5>
          <h5 class="card-text">Address: {{client.address}}</h5>
          <h5 class="card-text">A user can send more than one feedback: {{client.resend}}</h5>
          <h5 class="card-text">Feedback Resend Interval: {{client.response_range}} days</h5>

          <div class="text-center">
            <a href="/admin/settings/update/{{hashcode}}" class="btn btn-success mt-3">UPDATE</a>
          </div> 
    </div>
  </div>
</div>
